<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Images/favicon.png" type="image/x-icon">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Visitantes</title>
</head>
<body class="text-white bg-[#181818]">

    <div id="navbar" 
        class="w-full justify-center h-3/6 lg:h-screen relative grid grid-rows-100 min-h-600 max-h-800 text-white before:absolute before:top-0 before:left-0 before:right-0 bg-center"
    >
    </div>

    <main class="flex justify-center justify-self-center pt-8">
        <div class="text-center pt-8 pb-10 w-[90%] flex justify-self-center">
            <div id="users" class="gap-8 md:gap-4 flex flex-wrap w-[90%] my-0 mx-auto overflow-hidden pb-8">
            </div>
        </div>
    </main>

    <script src="index.js"></script>
    <script src="/components/nav.js"></script>
</body>
</html>